{% extends 'Inventory/base.html' %}
{% block title%}Site Details{% endblock %}
{% block site_active %}active{% endblock %}
{% block body %}
<div class="container-fluid detail-container">

    <div class="row">

        <!-- Left Site Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'Inventory:detail' site.id %}">
                        <h3> No Map Available </h3>
                    </a>
                <h1>{{ site.city }}, {{ site.state }} <br><small>{{ site.siteCode }}</small></h1>
                <h2>{{ site.address }} {{ site.zipcode }}</h2>

                <!-- Update Site -->
                <a href="{% url 'Inventory:site-update' site.id %}" class="btn btn-primary btn-sn" role="button">Update Site</a>
                </div>

            </div>

        </div>

        <!-- Right Detail Info -->
        <div class="col-sm-8 col-md-9">
            <div class="row">
                <div class="col-sm-6 col-md-7">
                    <ul class="nav nav-pills" style="margin-bottom: 10px;">
                        <li role="presentation"><a href="{% url 'Inventory:detail-create' site.id %}">Add Details</a> </li>
                        <li role="presentation"><a href="#">Delete Details</a> </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Details</h3>
                    <table class="table">
                        <thead>
                        <tr></tr>

                        </thead>
                        <tr>
                            <th>provider</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.provider}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>circuit_id</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.circuit_id}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>svc_id</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.svc_id}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>prefix</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.prefix}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>wan_net</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.wan_net}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>wan_remote</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.wan_remote}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>wan_local</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.wan_local}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>name_fw</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.name_fw}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>fw_type</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.fw_type}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>name_sw</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.name_sw}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>sw_type</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.sw_type}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>fw_lan</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.fw_lan}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>sw_lan</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.sw_lan}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>fw_lo</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.fw_lo}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>sw_lo</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.sw_lo}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>peer_asn</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.peer_asn}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>local_asn</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.local_asn}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>ospf_area</th>
                            {% for detail in site.config_set.all %}
                                <td>{{ detail.ospf_area}}<br></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th></th>
                            {% for detail in site.config_set.all %}
                                <td>
                                    <form action="{% url 'Inventory:detail-update' detail.id %}" method="get" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="detail_id" value="{{ detail.id }}" />
                                            <button type="submit" class="btn btn-warning btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span>&nbsp; update curcit
                                            </button>
                                        </form>
                                </td>
                            {% endfor %}
                        </tr>
                    </table>

                </div>

            </div>
        </div>
    </div>
    <div>
        <div class="panel panel-default">
                <h3> Network Devices</h3>
                <div class="panel-body "style="max-height: 10px;min-height: 200px;overflow-y: scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Device Name</th>
                                <th>Serial</th>
                                <th>Asset Tag</th>
                                <th>Mac Address</th>
                                <th>Firmware Version</th>
                                <th>Hardware Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in site.device_set.all %}
                                <td>{{ device.device_name }}</td>
                                <td>{{ device.serial }}</td>
                                <td>{{ device.asset_tag }}</td>
                                <td>{{ device.mac_add }}</td>
                                <td>{{ device.firm_ver }}</td>
                                <td>{{ device.hard_type }}</td>
                                <td>
                                    <form action="{% url 'Inventory:device_remove' device.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="device_id" value="{{ device.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Remove from site
                                        </button>
                                    </form>
                                </td>
                                <tr></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>
            <div class="panel panel-default">
                <h3> Phones</h3>
                <h4>Total Phones: {{ site.phone_set.all.count }}</h4>
                <div class="panel-body "style="max-height: 10px;min-height: 200px;overflow-y: scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Device Name</th>
                                <th>Description</th>
                                <th>Device Pool</th>
                                <th>Device Type</th>
                                <th>Directory Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for phone in site.phone_set.all %}
                                <td>{{ phone.device_name }}</td>
                                <td>{{ phone.desc }}</td>
                                <td>{{ phone.device_pool }}</td>
                                <td>{{ phone.device_type }}</td>
                                <td>{{ phone.dir_num }}</td>
                                <td>
                                    <form action="{% url 'Inventory:phone_remove' phone.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="phone_id" value="{{ phone.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Remove phone from site
                                        </button>
                                    </form>
                                </td>
                                <tr></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>
</div>
</div>
{% endblock %}