{% extends 'Inventory/base.html' %}
{% block Device_active %}active{% endblock %}


{% block body %}
<div class="container-fluid detail-container">
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Device Name</th>
                                <th>Serial</th>
                                <th>Asset Tag</th>
                                <th>Mac Address</th>
                                <th>Firmware Version</th>
                                <th>Hardware Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in object_list %}
                                <td>
                                    <form action="{% url 'Inventory:device_update' device.id %}" method="get" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="device_id" value="{{ device.id }}" />
                                        <button type="submit" class="btn btn-submit btn-xs">
                                            <span class="glyphicon glyphicon-plus"></span>&nbsp; add to site
                                        </button>
                                    </form>
                                </td>
                                <td>{{ device.device_name }}</td>
                                <td>{{ device.serial }}</td>
                                <td>{{ device.asset_tag }}</td>
                                <td>{{ device.mac_add }}</td>
                                <td>{{ device.firm_ver }}</td>
                                <td>{{ device.hard_type }}</td>
                                <td>
                                    <form action="{% url 'Inventory:device-delete' device.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="device_id" value="{{ device.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; delete
                                        </button>
                                    </form>
                                </td>
                                </td>
                                <tr></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}