body{
    background: white;
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Audiowide', cursive;
}

.navbar-header {
}
.fixed-panel {
  min-height: 10px;
  max-height: 500px;  
  overflow-y: scroll;
}